<div
    class="blog-detail px-4 lg:px-8 mx-auto max-w-8xl pb-10 lg:pb-20 xl:pb-24 lg:flex relative">
    <style>
        .blog-detail .blog-image picture,
        .blog-detail .blog-image picture img {
            display: block;
            width: 100%;
        }
    </style>
    <div
        class="lg:basis-2/3 lg:grow lg:shrink-0 mb-10 lg:mb-0 last:mb-0 lg:mr-10 xl:mr-14 last:mr-0">
        <div
            class="blog-image bg-secondary-light overflow-hidden relative bg-opacity-10 aspect-w-[1440] aspect-h-[900] after:absolute after:content-[''] after:border-white after:border-[2px] after:inset-1 z-20">
            {{ if post_image:src }}
                {{ responsive:post_image ratio="1.6" glide:width="853" lazyload="true" }}
            {{ /if }}
        </div>

        <div class="px-4 lg:px-8 py-10 bg-white shadow-odd">
            <div class="mb-7 lg:mb-10 xl:mb-16">
                {{ if title }}
                <h2
                    class="text-2xl lg:text-2.5xl xl:text-3xl leading-normal text-center font-josefin font-semibold text-secondary mb-5 last:mb-0">
                    {{ title }}
                </h2>
                {{ /if }}

                <div class="text-center font-source text-secondary-light">
                    <time class="mr-3" datetime="{{ date format=" M d, Y" }}">{{
                        date format="M d, Y" }}</time>
                    {{ if reading_time }}
                    <div
                        class="whitespace-nowrap inline-block lowercase before:content-[''] before:inline-block before:w-[15px] before:h-[2px] before:bg-primary before:align-middle before:mr-3">
                        <span class>{{ reading_time }}</span>
                    </div>
                    {{ /if }}
                </div>
            </div>
            {{ page_content }}
            {{ if text }}
            {{# if there is content in the bard - show the default prose styles
            #}}
            <div class="mx-auto max-w-5.5xl pb-10">
                {{ partial src="_atoms/prose/prose" }}
            </div>
            {{ /if }}
            {{ /page_content }}

            <div class="mb-10 lg:mb-14">
                <p
                    class="text-center text-lg font-josefin mb-5 last:mb-0">Categorized
                    in:</p>
                <div class="flex flex-col items-center">
                    {{ categories }}
                    <a href="{{ uri|replace('/posts', '') }}"
                        class="block bg-white px-3 py-1 shadow-alt mb-3 last:mb-0 font-josefin text-secondary text-sm hover:transition-transform hover:-translate-y-0.5 duration-300">
                        <span style="color: {{ category_color }}">#</span>
                        {{ title }}
                    </a>
                    {{ /categories }}
                </div>
            </div>

            <hr class="text-secondary-light/20">

            {{ partial src="_atoms/social_share/social_share" }}

            <div
                x-data="{ copyLink: function() { var input = document.getElementById('copy-link'); input.select(); document.execCommand('copy'); } }"
                class="permalink relative mx-auto max-w-[450px] w-full mt-5">
                <input
                    class="inline-block w-full pl-3 pr-10 py-3 appearance-none text-secondary-light bg-secondary bg-opacity-5 border border-secondary-light/20 rounded-sm focus:outline focus:outline-1 focus:outline-offset-2 focus:outline-primary transition-all text-sm disabled:opacity-25 focus:outline-none disabled:cursor-not-allowed placeholder:opacity-50 font-source font-medium peer"
                    type="text" name="shortlink" id="copy-link" readonly
                    aria-label="Copy Link"
                    value="{{ site_url }}{{ current_url }}">

                <span
                    class="inline-block copy absolute right-3 top-2.5 text-lg cursor-pointer"
                    @click="copyLink()" title="Copy Link to Clipboard">
                    <img src="img/copy-icon.svg" alt="#copy-icon">
                </span>
            </div>
        </div>
    </div>

    <div class="lg:grow-0 lg:shrink lg:basis-1/3">
        <div class="sticky top-24">
            {{ configuration }}
            <div class="lg:grow-0 lg:shrink lg:basis-1/3">
                <div class="mb-10 last:mb-0">
                    <div class="flex items-center mb-5 last:mb-0">
                        <h2
                            class="font-josefin text-secondary font-semibold text-2xl lg:text-2.5xl leading-tight">{{
                            sidebar_recent_posts_title || "Recent Posts" }}</h2>
                        <span
                            class="h-0.5 bg-primary content-[''] flex-1 ml-4"></span>
                    </div>

                    {{ collection from="posts" limit="4" as="posts" sort="date:desc" }}
                    <!-- grid -->
                    <div class="sm:flex sm:flex-wrap -mb-5 sm:-mr-4 lg:-mr-5">
                        {{ posts }}
                        <div
                            class="recent-posts-item mb-5 sm:grow-0 sm:shrink sm:basis-1/2 lg:basis-full">
                            <a href="{{ uri }}"
                                class="flex sm:mr-4 lg:mr-5 group">
                                <div
                                    class="grow-0 shrink-0 basis-[100px] xxs:basis-[160px] mr-4 lg:mr-5 last:mr-0">
                                    <div
                                        class="bg-secondary-light overflow-hidden bg-opacity-10 aspect-w-[1440] aspect-h-[900]">
                                        {{ if post_image:src }}
                                            {{ responsive:post_image ratio="1.6" glide:width="160" lazyload="true" }}
                                        {{ /if }}
                                    </div>
                                </div>

                                <div class="flex flex-col">
                                    <h2
                                        class="text-sm lg:text-base font-josefin font-bold text-secondary mb-1.5 last:mb-0 group-hover:text-tertiary transition-colors duration-300 hidden lg:block">{{
                                        title | truncate(60, '..') }}</h2>

                                    <h2
                                        class="text-sm lg:text-lg font-josefin font-bold text-secondary mb-1.5 last:mb-0 group-hover:text-tertiary transition-colors duration-300 block lg:hidden">{{
                                        title }}</h2>

                                    <time
                                        class="font-source text-secondary-light text-sm mt-auto"
                                        datetime="{{ date format=" M d, Y"
                                        }}">{{ date format="M d, Y" }}</time>
                                </div>
                            </a>
                        </div>
                        {{ /posts }}
                    </div>
                    {{ /collection }}
                </div>

                <div class="mb-5 last:mb-0">
                    <div class="flex items-center mb-5 last:mb-0">
                        <h2
                            class="font-josefin text-secondary font-semibold text-2xl lg:text-2.5xl leading-tight">{{
                            sidebar_categories_title || "Categories" }}</h2>
                        <span
                            class="h-0.5 bg-primary content-[''] flex-1 ml-4"></span>
                    </div>

                    <div class="inline-block">
                        {{ taxonomy:categories }}
                        <a href="{{ uri }}"
                            class="inline-block bg-white px-3 py-1 shadow-alt mb-3 last:mb-0 font-josefin text-secondary text-sm hover:transition-transform hover:-translate-y-0.5 duration-300">
                            <span style="color: {{ category_color }}">#</span>
                            {{ title }}
                        </a>
                        {{ /taxonomy:categories }}
                    </div>
                </div>

                <div class="mb-5 last:mb-0">
                    <div class="flex items-center mb-5 last:mb-0">
                        <h2
                            class="font-josefin text-secondary font-semibold text-2xl lg:text-2.5xl leading-tight">{{
                            sidebar_social_links_title || "Social" }}</h2>
                        <span
                            class="h-0.5 bg-primary content-[''] flex-1 ml-4"></span>
                    </div>

                    {{ partial src="_atoms/social_follow/social_follow_sidebar"
                    }}

                </div>

                {{ if advertising_image }}
                <div class="mb-5 last:mb-0">
                    <div class="flex items-center mb-5 last:mb-0">
                        <h2
                            class="font-josefin text-secondary font-semibold text-2xl lg:text-2.5xl leading-tight">{{
                            sidebar_advertising_title || "Advertising" }}</h2>
                        <span
                            class="h-0.5 bg-primary content-[''] flex-1 ml-4"></span>
                    </div>

                    <a href="{{ advertising_link }}"
                        class="block xs:max-w-[370px]" target="_blank"
                        rel="noopener noreferrer">
                        <div
                            class="bg-secondary-light bg-opacity-10 aspect-w-[1440] aspect-h-[900]">
                            {{ responsive:advertising_image ratio="1.6" }}
                        </div>
                    </a>
                </div>
                {{ /if }}
            </div>
            {{ /configuration }}
        </div>
    </div>
</div>