<picture class="mb-10 block w-full overflow-hidden aspect-w-[720] aspect-h-[410] xxs:aspect-w-[1000] xxs:aspect-h-[560] md:aspect-w-[2000] md:aspect-h-[1130] lg:aspect-w-[1310] lg:aspect-h-[736] bg-black-light bg-opacity-30">
    <!-- @Anyone, important: If you change any of these values you HAVE to correct the CSS aspect-ratio values up top in the classes as well. -->
    <source media="(min-width: 1024px)" data-srcset="https://via.placeholder.com/655x368/F2F0A1 1x, https://via.placeholder.com/1310x736/F2F0A1 2x" />
    <source media="(min-width: 768px)" data-srcset="https://via.placeholder.com/1000x565/F2F0A1 1x, https://via.placeholder.com/2000x1130/F2F0A1 2x" />
    <source media="(min-width: 401px)" data-srcset="https://via.placeholder.com/500x280/F2F0A1 1x, https://via.placeholder.com/1000x560/F2F0A1 2x" />
    <source media="(max-width: 400px)" data-srcset="https://via.placeholder.com/360x205/F2F0A1 1x, https://via.placeholder.com/720x410/F2F0A1 2x" />
    <img class="block w-full lazyload" data-src="https://via.placeholder.com/655x368/F2F0A1" alt="img" />
</picture>