<div class="mb-12">
    <div class="px-8 mx-auto max-w-5.5xl pb-10 lg:pb-20 xl:pb-24">
        <p class="mb-5 text-3xl font-bold">Container (870px) 934px</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quibusdam optio
        nostrum aliquam culpa corrupti similique, molestias corporis! Cum sit ipsam alias
        necessitatibus in molestias quas mollitia consequatur velit quo.
    </div>

    <div class="px-8 mx-auto max-w-8xl pb-10 lg:pb-20 xl:pb-24">
        <p class="mb-5 text-3xl font-bold">Container (1280px) 1344px</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quibusdam optio
        nostrum aliquam culpa corrupti similique, molestias corporis! Cum sit ipsam alias
        necessitatibus in molestias quas mollitia consequatur velit quo.
    </div>
</div>

<!-- -->
<!-- -->

<hr>
<p class="px-8 mx-auto max-w-6.5xl py-10 text-3xl font-bold">Section Whitespace Tests</p>

<div class="px-8 mx-auto max-w-6.5xl pb-10 lg:pb-20 xl:pb-24">
    <p class="mb-5 text-3xl font-bold">Section</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quibusdam optio nostrum aliquam culpa corrupti similique, molestias corporis! Cum sit ipsam alias necessitatibus in molestias quas mollitia consequatur velit quo.
</div>

<div class="px-8 mx-auto max-w-6.5xl pb-10 lg:pb-20 xl:pb-24">
    <p class="mb-5 text-3xl font-bold">Section</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quibusdam optio nostrum aliquam culpa corrupti similique, molestias corporis! Cum sit ipsam alias necessitatibus in molestias quas mollitia consequatur velit quo.
</div>

<div class="section-colored bg-primary text-white pt-10 pb-[calc(2.5rem+64px)] lg:pt-20 lg:pb-[calc(5rem+64px)] xl:pt-24 xl:pb-[calc(6rem+64px)] mb-10 lg:mb-20 xl:mb-24 rounded-t-5xl">
    <div class="px-8 mx-auto max-w-6.5xl">
        <p class="mb-5 text-3xl font-bold">Section Colored</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quibusdam optio nostrum aliquam culpa corrupti similique, molestias corporis! Cum sit ipsam alias necessitatibus in molestias quas mollitia consequatur velit quo.
    </div>
</div>

<div class="section-colored bg-secondary text-white pt-10 pb-[calc(2.5rem+64px)] lg:pt-20 lg:pb-[calc(5rem+64px)] xl:pt-24 xl:pb-[calc(6rem+64px)] mb-10 lg:mb-20 xl:mb-24 rounded-t-5xl">
    <div class="px-8 mx-auto max-w-6.5xl">
        <p class="mb-5 text-3xl font-bold">Section Colored</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quibusdam optio nostrum aliquam culpa corrupti similique, molestias corporis! Cum sit ipsam alias necessitatibus in molestias quas mollitia consequatur velit quo.
    </div>
</div>

<div id="bottom" class="bg-primary text-white py-10 lg:py-20 xl:py-24 rounded-t-5xl">
    <div class="px-8 mx-auto max-w-6.5xl">
        <p class="mb-5 text-3xl font-bold">Footer section</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quibusdam optio nostrum aliquam culpa corrupti similique, molestias corporis! Cum sit ipsam alias necessitatibus in molestias quas mollitia consequatur velit quo.
    </div>
</div>