<div class="prose lg:prose-lg">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>

    <p>Normal: Lorem <strong>ipsum</strong> dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Mauris interdum felis ac diam rutrum pulvinar. Nunc suscipit felis purus, non sagittis eros finibus eget. Aenean quis finibus erat, ac varius dolor. Nulla vel dignissim felis, a lacinia augue.</p>

    <blockquote>Blockquote: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum felis ac diam rutrum pulvinar. Nunc suscipit felis purus, non sagittis eros finibus eget</blockquote>

    <ul>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quos ut, sint reprehenderit vel obcaecati!</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quos ut, sint reprehenderit vel obcaecati!</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quos ut, sint reprehenderit vel obcaecati!</li>
    </ul>

    <ol>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quos ut, sint reprehenderit vel obcaecati!</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quos ut, sint reprehenderit vel obcaecati!</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quos ut, sint reprehenderit vel obcaecati!</li>
    </ol>

    <table>
        <thead>
            <tr>
                <th>heading</th>
                <th>heading</th>
                <th>heading</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>content</td>
                <td>content</td>
                <td>content</td>
            </tr>
            <tr>
                <td>content</td>
                <td>content</td>
                <td>content</td>
            </tr>
            <tr>
                <td>content</td>
                <td>content</td>
                <td>content</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- -->
<!-- -->

<div class="mt-20">
    <p class="text-5xl font-bold mb-5">Example typography with responsive classes</p>

    <p class="text-9xl lg:text-13xl leading-none">160px title ipsum dolor sit amet.</p>
    <p class="text-8.5xl lg:text-12xl leading-none">140px title ipsum dolor sit amet.</p>

    <p class="text-7xl lg:text-11xl leading-none">112px title ipsum dolor sit amet.</p>
    <p class="text-5xl lg:text-10xl leading-none">105px title ipsum dolor sit amet.</p>

    <p class="text-5xl lg:text-8xl leading-none">72px title ipsum dolor sit amet.</p>
    <p class="text-6xl lg:text-7xl leading-tight">60px title ipsum dolor sit ipsum dolor sit ipsum dolor sit amet.</p>
    <p class="text-6.5xl leading-tight">52px title isum dolor sit ipsum dolor sit ipsum dolor sit ipsum dolor sit ip sit amet.</p>
    <p class="text-3xl lg:text-4xl !leading-snug">36px title ipsum dolor sit le ipsum dolor sit le ipsum dolor sit amet.</p>
    <p class="text-2.5xl lg:text-3xl !leading-snug">32px title ipsum dolor sit amet.</p>
    <p class="text-2.5xl !leading-snug">28px title ipsum dolor sit amet.</p>
    <p class="text-2xl !leading-snug">24px title ipsum dolor sit amet.</p>
    <p class="text-lg lg:text-xl !leading-normal">20px paragraph ipsum dolor sit amet.</p>
</div>